#
# User defined Makefile options for the Video Disk Recorder
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#
# See the main source file 'vdr.c' for copyright information and
# how to reach the author.
#
# $Id: Make.config,v 1.4 2006/05/22 11:13:27 timsl Exp $

### The C compiler and options:

TARGETPREFIX	= mips-linux-uclibc-

CC		= $(TARGETPREFIX)gcc
CFLAGS		= -O3 -msoft-float -Wall 

CXX		= $(TARGETPREFIX)g++
CXXFLAGS	= -O3 -msoft-float -Wall -Woverloaded-virtual 

LD		= $(TARGETPREFIX)ld
LDFLAGS		= -static

AR		= $(TARGETPREFIX)ar
RANLIB		= $(TARGETPREFIX)ranlib
STRIP		= $(TARGETPREFIX)strip


REMOTE=LIRC
NO_KBD=1
VFAT=1
DEFINES+= -D_REENTRANT -DASSUME_VIDEO_FRAMES_ALIGNED 
